[submodule "plugins/MultipleLocalAuth"]
	path = plugins/MultipleLocalAuth
	url = https://github.com/hacklabr/mapasculturais-multipleLocalAuth
[submodule "plugins/AldirBlanc"]
	path = plugins/AldirBlanc
	url = https://github.com/mapasculturais/plugin-AldirBlanc
