[submodule "plugins/MultipleLocalAuth"]
	path = plugins/MultipleLocalAuth
	url = https://github.com/marcelocaldas/MultipleLocalAuth
[submodule "plugins/MapasBlame"]
	path = plugins/MapasBlame
	url = https://github.com/mapasculturais/plugin-MapasBlame
[submodule "plugins/MetadataKeyword"]
	path = plugins/MetadataKeyword
	url = https://github.com/mapasculturais/plugin-MetadataKeyword.git
[submodule "plugins/AdminLoginAsUser"]
	path = plugins/AdminLoginAsUser
	url = https://github.com/mapasculturais/plugin-AdminLoginAsUser
